{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
